<!---->

<div class="d-flex flex-row bd-highlight mb-9">
  <div class="p-2 w-100 bd-highlight">

    <!--
    <div class="input-group mb-12">
      <span class="input-group-text">氏名</span>
      <input type="text" class="form-control" [(ngModel)]="name">
    </div>

      <div class="input-group mb-12">
        <span class="input-group-text">電話番号</span>
        <input type="text" class="form-control" [(ngModel)]="phoneNumber">
      </div>

      <div class="input-group mb-12">
        <span class="input-group-text">コメント</span>
        <input type="text" class="form-control" [(ngModel)]="comment">
      </div>

      <div class="input-group mb-12">
        <span class="input-group-text">応答可否</span>
        <button (click)="canRespond=!canRespond">{{canRespond ? '応答可' : '応答不可'}}</button>
      </div>
      <ng-template #notLoggedInText>
        <label>不可能</label>
      </ng-template>
    </div>

  </div>
  <button (click)="add()" *ngIf="userinfo==null" class="btn btn-primary">
    Add
  </button>

  <button (click)="update()" *ngIf="userinfo!=null" class="btn btn-primary">
    Update
  </button>
        -->
